.butt_cont {
	text-align: center;
	margin-top: 33%;
}

.btn {
	height: 100px;
	width: 75%;
	font-size: 50px;
}

.nav.nav-center {
    margin:0;
    float:none;
}

body {
	padding-top: 100px;
}
